aiohttp==3.8.5
aiosignal==1.3.1
appnope
asttokens
async-timeout==4.0.2
attrs==23.1.0
backcall
backports.functools-lru-cache
certifi==2023.7.22
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.6
comm
cryptography==41.0.2
dataclasses-json==0.5.13
debugpy
decorator
diskcache==5.6.1
dnspython==2.4.1
et-xmlfile==1.1.0
executing
filelock==3.12.2
filetype==1.2.0
frozenlist==1.4.0
fsspec==2023.6.0
googleapis-common-protos==1.56.4
greenlet==2.0.2
grpc-gateway-protoc-gen-openapiv2==0.1.0
grpcio==1.56.2
gradio
huggingface-hub==0.16.4
idna==3.4
importlib-metadata
ipykernel
ipython
jedi
Jinja2==3.1.2
joblib==1.3.1
jupyter_client
jupyter_core
langchain==0.0.247
langsmith==0.0.15
llama-cpp-python==0.1.77
loguru==0.7.0
lxml==4.9.3
lz4==4.3.2
Markdown==3.4.4
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib-inline
mpmath==1.3.0
msg-parser==1.2.0
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio
networkx==3.1
nltk==3.8.1
numexpr==2.8.4
numpy==1.25.1
olefile==0.46
openai==0.27.8
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
packaging
pandas==2.0.3
parso
pdf2image==1.16.3
pdfminer.six==20221105
pexpect
pickleshare
Pillow==10.0.0
pinecone-client==2.2.1
platformdirs
prompt-toolkit
protobuf==3.19.3
psutil
ptyprocess
pure-eval
pycparser==2.21
pydantic==1.10.12
Pygments
pypandoc==1.11
pypdf==3.14.0
PyPDF2==3.0.1
python-dateutil
python-docx==0.8.11
python-magic==0.4.27
python-pptx==0.6.21
pytz==2023.3
PyYAML==6.0.1
pyzmq
regex==2023.6.3
requests==2.31.0
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
six
SQLAlchemy==2.0.19
stack-data
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
threadpoolctl==3.2.0
tiktoken==0.4.0
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tornado
tqdm==4.65.0
traitlets
transformers==4.31.0
typing-inspect==0.9.0
typing_extensions
tzdata==2023.3
unstructured==0.8.7
urllib3==2.0.4
wcwidth
xlrd==2.0.1
XlsxWriter==3.1.2
yarl==1.9.2
zipp
